body{
    margin:0;
    padding:0;
    justify-content: center;
    align-items: center;
    background-color: #000061;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    width: 60%;
    margin: 30px auto;
    padding: 20px;
    background-color: gray;
    align-items: center;
    justify-content:center;
    text-align: center;
}
form >div{
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    font-size: 22px;
    text-align: left;

}
h1{
    text-align: center;
}
#btn{
    border:none;
    outline: none;
    background-color: indigo;
    padding:16px 60px;
    font-size: 25px;
    color: white;
}
#btn:hover{
    border:none;
    outline: none;
    background-color: white;
    padding:16px 60px;
    font-size: 25px;
    color: indigo;
}

#result{
    margin: 100px;
    margin-top: 0;
    align-items: center;
    justify-content:center;
    padding:30px;
    border-radius: 30p;
    background-color: indigo;
    color: white;
    text-align: center;
}