@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  html{
    scroll-behavior: smooth;

  }
  .navbar{
    position: fixed;
    height: 80px;
    overflow: hidden;
    top: 0;
    display: flex;
    align-items: center;
    background-color: #000;
    width: 100%;
    z-index: 100;
  }
  .brand{
    color: rgb(248, 114, 4);
    font-size: 35px;
    font-weight: bold;
    background-size: contain;
    width: 180px;
    height: 38px;
    float: left;
    font-family: 'Pacifico', cursive;
    margin-left:100px;
    
  }
  .menu{
    position: absolute;
    right: 120px;
  }
  .menu a{
  color: rgb(255, 254, 254);
  text-decoration: none;
  font-weight: 700;
  padding: 8px 20px;
  border-radius: 15px;
  margin-left: 20px;
  transition:  0.5s ease-in-out;
  text-transform: uppercase;
}
.menu a:hover{
    background-color: rgba(59, 59, 59,0.5);
    color: #06fdfd;
  }
  
  .btn{
    display: none;
    position: absolute;
    right: 20px;
  }
  .btn:hover > span{
    background: #6ab04c;
  }
  .btn span{
    display: block;
    margin: 6px;
    width: 40px;
    height: 3px;
    background: #333;
  }
 
  @media only screen and (max-width : 768px) {
    .navbar{
      overflow: visible;
    }
    .menu{
      width: 100%;
      right: 0;
      top: 80px;
      background: #363636;
      overflow: hidden;
      max-height: 0;
    }
    .brand{
    margin-left:20px;

    }
    .menu a{
      display: block;
      text-align: center;
      padding: 10px;
      margin: 0;
    }
    .btn{
      display: block;
      cursor: pointer;
    }
    .show{
      max-height: 500px;
    }
  }


/* home section start */

  #particles-js{
      margin-top:80px ;
    /* min-height: 100vh; */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    /* background-image:url('https://i.pinimg.com/564x/8f/b3/e3/8fb3e3fb87f85793607b5426ede68cc9.jpg'); */
    background: linear-gradient(45deg,rgb(255, 0, 0),indigo);
  }
  .home{
      position: absolute;
        
      top:40%;
      width: 40%;
      left: 15%;
      /* background-color: red; */
  }

  .home h1{
      font-size: 60px;
      color:white;
      margin: 0;
      padding: 0;
    }
    .home #SFW{
        color: rgb(248, 114, 4);
      font-weight: 200;
  }
  .home p{
      text-transform: uppercase;
      font-size: 22px;
      margin:0;
      padding: 0;
      background-color: #000;
      padding: 10px;
      color: white;
      width: fit-content;
  }

  @media only screen and (max-width : 768px) {
    
    #particles-js{
      min-height: 100vh;
    }
    .home{
        position: absolute;
        width: 60%;
    }
    .home h1{
        font-size: 45px;
       
      }
      .home p{
          font-size: 18px;
      }
    }
/* home section end */

/* About section start */
#about{
  width: 80%;
  margin: auto;

}
.about-inner {
	padding: 50px 20px;
  display:flex;
  align-items: center;
  flex-direction: row;
	justify-content: space-between;
}
.about .about-info {
	text-align: left;
	padding-left:10px;
  width: 50%;
  align-items: center;
}
.about .about-info .about-info-heading {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: black;
}
.about .about-info .about-info-desc {
	font-size: 18px;
	margin-top: 10px;
}
.about .about-info .about-info-button {
	padding:8px 12px;
	display: inline-block;
	background-color: black;
	color: white;
	text-decoration: none;
	font-size: 20px ;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 20px;
}
.about .about-info .about-info-button:hover {
  background-color: "white";
  color:"black"
}
.about .about-img {
	display: block;
  width: 50%;
  margin-left: 150px;
}
.about img{
  height: 500px;
  width: 100%;
  margin: auto;
}

/* About section end */

/* Service section start */


#service .service-inner{
  width: 80%;
  margin: auto;
  padding: 50px 20px;
  /* background-color: red; */
}
.service-inner .service-info-heading{
  font-size: 30px;
  text-align: center;
  margin: 50px;
  text-transform: uppercase;

}
.service-inner .row{
  display: flex;
  /* flex-wrap:wrap; */
  flex-direction: row;
  justify-content: space-between;
}
.service-inner .part{
  width:20%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding:50px
}
.service-inner .part h3{
    font-size: 22px;
}
.service-inner .part p{
  font-size: 18px;
}
.service-inner .part .fa{
  font-size: 35px;
}

.service-inner .first{
  border-radius: 50% 60% 50% 70%/50% 50% 70% 60%;
  background-color: rgb(255, 174, 0);
}
.service-inner .second{
  border-radius: 90% 60% 10% 70%/50% 50% 70% 60%;
  background-color: rgb(7, 11, 243);
}
.service-inner .third{
  border-radius: 50% 90% 50% 70%/40% 50% 30% 60%;
  background-color: rgb(8, 231, 202);
}

/* service section end */
/* Skills section  end*/

#skills{
  width: 90%;
  padding: 50px 20px;
  margin: auto;
}
#skills .skills-info-heading{
  font-size: 30px;
  text-align: center; 
  margin: 50px;
  text-transform: uppercase;

}
.container{
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
}
.ekside{
  width: 45%;
  height: 400px;
  background-image: url('https://i.pinimg.com/originals/6e/be/a5/6ebea5806e0ebef009271d9711bfd4fb.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.ekside img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.arkoside{
  width: 45%;
  height: 400px;
  align-items: center;
}
.box {
  width:450px;
  padding: 20px;
  margin: auto;
}
.box h3 {
  margin: 25px;
  color:rgba(100,100,100,0.9);
}
.box .pbar1 {
  width:0%;
  height:10px;
  background:linear-gradient(to right,rgb(76,217,105),rgb(90,200,250),rgb(32,170,220),rgb(88,86,217),rgb(0,0,0));
  margin-top:10px;
  background-size:320px 5px;
  border-radius:10px;
  animation:loading 5s ease-in-out forwards;
}
.box .pbar2 {
  width:0%;
  height:10px;
  background:linear-gradient(to right,rgb(76,217,105),rgb(90,200,250),rgb(32,170,220),rgb(88,86,217),rgb(0,0,0));
  margin-top:10px;
  background-size:280px 5px;
  border-radius:10px;
  animation:loading 5s ease-in-out forwards;
}
.box .pbar3 {
  width:0%;
  height:10px;
  background:linear-gradient(to right,rgb(76,217,105),rgb(90,200,250),rgb(30,170,220),rgb(88,86,217),rgb(0,0,0));
  margin-top:10px;
  background-size:240px 5px;
  border-radius:10px;
  animation:loading 5s ease-in-out forwards;
}
.box .pbar4 {
  width:0%;
  height:10px;
  background:linear-gradient(to right,rgb(76,217,105),rgb(90,200,250),rgb(32,170,220),rgb(88,86,217),rgb(0,0,0));
  margin-top:10px;
  background-size:310px 5px;
  border-radius:10px;
  animation:loading 5s ease-in-out forwards;
}


@keyframes loading {
  to {
    width:100%;
  }
}

/* Skills section end */






